<div class="row-fluid">

	<div class="span4 well">

		<h1 class="addTask"><%=link_to("+ Add Project",new_path)%></h1>

         <h2>Current Projects</h2>
		<%@project.each do |project|%>
<strong>Project Name:</strong><%=project.project_name%>
     
      
     
         <p class="project_list"><strong>Project Posted: </strong><%=link_to time_ago_in_words(project.created_at) + " ago",project%></p>
         <p><%=link_to "Edit",edit_project_path(project)%> |
         <%=link_to "Delete",project, method: :delete, data:{ confirm: "Are you sure?"}%></p>
         


     <%end%>

	</div>

	<div class="span8">
	
             <h1>Project Information</h1>
	</div>




	





</div>

