
<div class "row-fluid">

	<h1><%=@project.project_name%></h1>

<div class="span8">

   <p class="project_list"><strong>Deploy: </strong><%=@project.project_deploy%></p>
        <p class="project_list"><strong>SDK: </strong><%=@project.project_sdk%></p>
        <p class="project_list"><strong>Language: </strong><%=@project.project_languages%></p>
        <p class="project_list"><strong>Frameworks:</strong><%=@project.project_frameworks%></p>
        <p class="project_list"><strong>Due Date: </strong><%=@project.project_end%></p>
        <p class="project_list"><strong>Progress: </strong><%=@project.complete%></p>
        <p class="project_list"><strong>Details: </strong><%=@project.project_details%></p>

        </div>




    </div>