
<div class "row-fluid">

	<h1><%=@project.project_name%></h1>

<div class="span8">

    <table class="table">
    <tr>
     <th>Deploy</th>
     <th>SDK</th>
     <th>Language</th>
     <th>Frameworks</th>
     <th>Due Date</th>
     <th>Progress</th>
     <th>Details</th>
    </tr>
    <tbody>
    <tr>
    <td><%=@project.project_deploy%></td>
     <td><%=@project.project_sdk%></td>
      <td><%=@project.project_languages%></td>
       <td><%=@project.project_frameworks%></td>
        <td><%=@project.project_end%></td>
          <td><%=@project.complete%></td>
            <td><%=@project.project_details%></td>

    </tr>
    </tbody>


    </table>

   

        </div>




    </div>